* {
    box-sizing: border-box;
}

header.main {
    height: 3.5rem;
}
header.main, main, footer.main {
    border: 1px solid navy;
    margin: 0 auto;
    max-width: 1200px;
}

header.main .app-title {
    height: 1rem;
    background-color: #fff;
    font-size: 0.8rem;
    padding-left: 5px;
}

header.main .user-container {
    height: 2.5rem;
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

header.main .user {
    padding-left: 5px;
}

header.main .photo {
    position: relative;
    margin-right: 5px;
}

header.main .photo img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    height: 100%;
    color: white;
}

header.main .photo footer {
    position: absolute;
    bottom: 2px;
    left: 0.4rem;
    color: white;
    font-size: 0.6rem;
}

.card {
    box-shadow: 2px 2px 4px #242121a2;
    margin: 5px;
    padding: 10px;
}

.card header {
    padding-right: 5px;
    text-align: left;
    border-bottom: 1px solid lightgrey;
    font-size: 70%;
}

main section.shipments div.shipments .shipment.selected {
    border: 3px solid navy;
    border-radius: 5px;
}


main section.shipments {
    text-align: center;
}

section.order-amount #order-selection .selected {
    border: 3px solid navy;
    border-radius: 5px;
}

.order.DELIVERED .badge{
    background-color: orange
}

.order.PAID .badge{
    background-color: green;
}

main section.shipments .info.total {
    background-color: lightgrey;
    padding-right: 60px;
}

main section.shipments .order {
    position: relative;
    padding-right: 40px;
    font-size: 120%;
}


#order-selection {
    text-align: center;
}

section.order-amount img {
    height: 6rem;
    width: 6rem;
}

section.order-amount #order-selection div {
    padding: 5px;
    background-color: transparent;
    margin: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 4px #242121a2;
    border-radius: 5px;
    box-sizing: border-box;
    border: 3px solid transparent;
}

section.order-amount div.disabled {
    cursor: not-allowed;
}

section.order-amount .selected {
    border: 3px solid navy;
    border-radius: 5px;
}

.info {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #242121a2;
    margin: 2px 2px;
    text-align: left;
    font-size: 70%;
}

.badge {
    opacity: 1;
    position: absolute;
    right: 2px;
    top: 3px;
    background-color: navy;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 2px 10px;
    box-shadow: 2px 2px 4px #242121a2;
    font-size: 90%;
}

footer.main {
    height: 1.5rem;
    background-color: navy;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.main * {
    padding: 0.3rem;
    height: 1.2rem;
    font-size: 1rem;
}

main {
    min-height: calc(100vh - 1.5rem - 3.5rem);
}
