/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    html {
      font-size: 20px;
    }
  }

  @media (min-width: 1024px) {
    html {
      font-size: 28px;
    }
  }


p {
    margin: 0;
}

.clickable {
  cursor: pointer;
}